extends layout

block content
	.log
		ul
	form.form.pure-form.pure-form-stacked
		input.input(type='text', placeholder='Command me master.')
		button.submit.pure-button.pure-button-primary(type='submit') Command me.